
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

header nav ul li{
    color: green;
}
h1{
    color: yellow;
}
p{
    color: blue;
}
.style_parrafo{
    color: red;
    font-size: medium;
    text-decoration: solid;
    font-family: 'Oswald', sans-serif;
}
.style_lista_nosotros{
    color: blueviolet;
    text-decoration: double;
    margin: 30px;
    list-style: none;
}